{% extends 'home.html' %}
<html>
<head>
    <title>About us</title>
</head>
<body>
{% block contant %}
<h1>Who we are</h1>
<p>

</p>We are a group of teachers, technologists and parents who got together to create a system that can help our own children. Once we had created a system that we felt satisfied our needs, we decided to share this system with others so that everyone can benefit from it.
<h1>Our Objectives</h1>
    <p>Objectives
Our primary aim in creating this system was to provide a service which could help students hone their understanding of mathematics. Albert Einstein once said that "Pure mathematics is, in its way, the poetry of logical ideas.". At the heart of this quotation lies the fundamental percept that mathematics cannot be learnt by rote - it has to be understood. It is little exaggeration to state that if you understand mathematics well, you are armed with all the necessary tools to understand the universe.

Our ultimate aim with Edugain is to provide a service that facilitates this - at the start we are providing a way for students to hone their mathematical skills, but as we expand, we'll be adding content that is driven by our philosophy. We'll also be adding a parallel system targeted to physics.

    <h1>What we offer</h1>
<p>What we offer today is an assessment infrastructure that focuses on helping a child understand the various aspects (categorized by class and topics) that are relevant to their age. We are starting our service by providing this infrastructure to students of class 1 to 10, but will be expanding to provide this for other classes too. We provide the ability to generate randomized questions of various types - objective, descriptive, fill in the blanks, matching etc. The assessments can be done online or can be printed out and done on paper as per your convenience. We have developed an infrastructure that generate questions and answers randomly - it's pretty much guaranteed that you'll never see a question repeated. We'll also be providing and storing results for the online assessment tests so you can see how a child is faring in a given area.

At the heart of our endeavor lies the following fact - we developed this system for our own children, and by extension, all students. For us, this has never been just a business - it's a passion.</p>
{% endblock %}
</body>
</html>